%h4=@project
- if @error_message
  .alert.alert-error
    %i.icon-exclamation-sign
    = @error_message
.tab-bar
  %ul.nav.nav-tabs
    - @tab_spec.each do |tab|
      %li{class: "#{tab[:class]}"}
        %a{href: "/projects/#{@project}/pages/#{tab[:page]}"}=tab[:caption]

.content
  .wiki-page-header
    .pull-right
      %a.btn.btn-primary{href: "/projects/#{@project}/pages/#{@page_name}/edit"}="Edit"
  .wiki-page-content.span12
    %div=@page[:html]

-if (@page_name == 'Taskboard')
  %script{src: "/js/ko.min-2.2.1.js?version=#{rand(5)}"}
  %script{src: "/js/taskboard.js?version=#{rand(5)}"}
