%h4=@project
- if @error_message
  .alert.alert-error
    %i.icon-exclamation-sign
    = @error_message
.tab-bar
  %ul.nav.nav-tabs
    - @tab_spec.each do |tab|
      %li{class: "#{tab[:class]}"}
        %a{href: "/projects/#{@project}/pages/#{tab[:page]}"}=tab[:caption]

.content
  .wiki-page-header
    %h4="Edit: #{@project}/#{@page_name}"
  .wiki-page-content
    %form.form-horizontal{action: "/projects/#{@project}/pages/#{@page_name}/save", method: "post"}
      %input{type:"hidden", name: "id", value: "#{@page[:id]}"}
      %input{type:"hidden", name: "project_id", value: "#{@page[:project_id]}"}
      %input{type:"hidden", name: "page_name", value: "#{@page_name}"}
      .control-group
        .controls
          .pull-right
            %a.btn{href:"/static/help/create_page"}
              %i.icon-question-sign
              Help
            %a.btn{href: "/projects/#{@project}/pages/#{@page_name}"}="Cancel"
            %input.btn.btn-primary{type: "submit", value:"Save"}
      .control-group
        %textarea.input-xlarge.span12{name: 'content', cols: 300, rows: 24}=@page[:content]
      .control-group
        .controls
          .pull-right
            %a.btn{href:"/static/help/create_page"}
              %i.icon-question-sign
              Help
            %a.btn{href: "/projects/#{@project}/pages/#{@page_name}"}="Cancel"
            %input.btn.btn-primary{type: "submit", value:"Save"}