%h4 Taskboard
.tab-bar
  %ul.nav.nav-tabs
    - @tab_spec.each do |tab|
      %li{class: "#{tab[:class]}"}
        %a{href: "/projects/#{@project}/pages/#{tab[:page]}"}=tab[:caption]

- if not @error_msg.nil?
  =@error_msg
- else
  %table.table.table-bordered.table-condensed.span12.kanban
    - i=-1
    - @model.grp_seq.each do |row|
      - i+=1
      -# This is for the headings
      %tr    
        - row.each do |col|
          - if(col.length<=1)
            %th{ colspan: @model.lcm_col/@model.span[i], style: "width: #{(940/@model.lcm_col)*@model.lcm_col/@model.span[i]}px; background-color: #efefef;", rowspan: @model.rowspan[i]}
              ="#{col[0]} (Limit: #{@model.getlimitfor(col[0])})"
          - if(col.length>1)
            %th{ colspan: col[1].length*@model.lcm_col/@model.span[i], style: "width: #{(940/@model.lcm_col)*col[1].length*@model.lcm_col/@model.span[i]}px; background-color: #efefef;", rowspan: "1"}
              ="#{col[0]} (Limit: #{@model.getlimitfor(col[0])})"
      - if @model.rowspan[i] > 1
        %tr
          - row.each do |col|
            - if(col.length>1)
              -col[1].each do |subcat|
                %th{colspan: @model.lcm_col/@model.span[i], style: "width: #{(940/@model.lcm_col)*@model.lcm_col/@model.span[i]}px; background-color: #efefef;", rowspan: "1"}=subcat[0].capitalize
      -# This is for the rows
      %tr    
        - row.each do |col|
          - if(col.length<=1)
            %td{colspan: @model.lcm_col/@model.span[i], style: "width: #{(940/@model.lcm_col)*@model.lcm_col/@model.span[i]}px;", status_name: col[0] ,limit: @model.getlimitfor(col[0]) ,data:{bind: " boxext : { name :'box' }"}}
              - @model.getcardsfor(col[0]).each do |card|
                .card-border{draggable: "true", ticketId: "#{card[:id]}", data: {target: "#comment_modal", toggle: "modal", bind: "cardext :{ name :'#{card[:id]}'}"}}
                  .card{class: card[:age_class]}
                    .pull-left
                      %p="##{card[:id]}"
                    .pull-right
                      %i.icon-eye{ticketId: "#{card[:id]}", data: {bind: "click : showInfo"}}
                    %p=card[:Owner]
                    .pull-right
                      %i.icon-comment.icon-gray{ticketId: "#{card[:id]}"}
                    -# %p=card[:LastUpdated]
                    %p
                      %span.card-subject(title="#{card[:Subject]}")=card[:short_subject]
              .sn
          - if(col.length>1)
            -col[1].each do |subcat|
              %td{colspan: @model.lcm_col/@model.span[i], style: "width: #{(940/@model.lcm_col)*@model.lcm_col/@model.span[i]}px;", status_name: subcat[0], limit: @model.getlimitfor(subcat[0]), data:{bind: " boxext : { name : 'box' }"}}
                - @model.getcardsfor(subcat[0]).each do |card|
                  .card-border{draggable: "true", ticketId: "#{card[:id]}", data: {target: "#comment_modal", toggle: "modal", bind: "cardext :{ name :'#{card[:id]}'}"}}
                    .card{class: card[:age_class]}
                      .pull-left
                        %p="##{card[:id]}"
                      .pull-right
                        %i.icon-eye{ticketId: "#{card[:id]}", data: {bind: "click : showInfo"}}
                      %p=card[:Owner]
                      .pull-right
                        %i.icon-comment.icon-gray{ticketId: "#{card[:id]}"}
                      -# %p=card[:LastUpdated]
                      %p
                        %span.card-subject(title="#{card[:Subject]}")=card[:short_subject]
                .sn

  -# for unclassified table
  - if @model.unclassified_present
    %table.table.table-striped.table-bordered.table-condensed.span12.kanban
      %tr
        %th{class: "span12", colspan: "span12", style: "background-color: #efefef;"} Unclassified
      %tr
        %td{class: "span12", colspan: "span12", limit: "0", data:{bind: "boxext :{ name :'box'}"}}
          - @model.getunclassified.each do |card|
            .card-border{draggable: "true", ticketId: "#{card[:id]}", data: {target: "#comment_modal", toggle: "modal", bind: "cardext :{ name :'#{card[:id]}'}"}}
              .card{class: card[:age_class]}
                .pull-left
                  %p="##{card[:id]}"
                .pull-right
                  %i.icon-eye{ticketId: "#{card[:id]}", data: {bind: "click : showInfo"}}
                %p=card[:Owner]
                .pull-right
                  %i.icon-comment.icon-gray{ticketId: "#{card[:id]}"}
                -# %p=card[:LastUpdated]
                %p
                  %span.card-subject(title="#{card[:Subject]}")=card[:short_subject]
  #taskboard-modal
    .modal.hide.fade#taskboardModal
      .modal-header
        %button.close{data:{dismiss: "modal"}, aria:{hidden: "true"}} &times;
        %h3.modelLable#taskboardLable
      .modal-body#taskboardBody
      .modal-footer
        %button.btn.btn-primary{data:{dismiss: "modal"}, aria:{hidden: "true"}}Close

  #ajax-status
    Saving 
    %img{src: "/images/busy.gif"}

  :javascript
    if(typeof appdata === 'undefined'){
      appdata = new Object();
    }
    appdata['project_id'] = #{@spec[:project_id]} 
    if(typeof appdata['jsfiles'] === 'undefined'){
      appdata['jsfiles'] = new Object();
    }
    //appdata['jsfiles']['knockout-min-2.2.1'] = 1;
    //appdata['jsfiles']['taskboard'] = 1;

  %script{src: "/js/knockout-min-2.2.1.js?version=#{rand(5)}"}
  %script{src: "/js/taskboard.js?version=#{rand(5)}"}
