%h5=caption
- divname = rand(1000)
%div(id = "#{'barchart'+divname.to_s}")
:javascript
	if(typeof appdata === 'undefined'){
		appdata = new Object();
	}
	if(typeof appdata['barchart'] === 'undefined'){
		appdata['barchart'] = new Array();
	}
	appdata['barchart'].push({
		id : "#{'barchart'+divname.to_s}",
		type : "#{type}",
		title : "#{caption}",
		graphdata : #{info},
		sourcetext : "#{sourcetext unless sourcetext.nil?}",
		ytext : "#{yaxistext unless yaxistext.nil?}",
		groupname : #{groupname}
	});
	if(typeof appdata['jsfiles'] === 'undefined'){
		appdata['jsfiles'] = new Object();
	}
	appdata['jsfiles']['highcharts'] = 1;
	appdata['jsfiles']['barchart'] = 1;