%h5=caption
.row.taskboard-lanes
  %div{class: "#{span} taskboard-label"}
  - lanes.each do |lane|
    %div{class: "#{span} taskboard-label-lane"}
      %h6=lane
- streams.each do |stream|
  %div{class: "row taskboard-streams #{row_class}"}
    %div{class: "#{span} taskboard-label-stream"}
      %h6=stream[:Subject]
    - lanes.each do |lane|
      %div{class: "#{span}"}
        - cards(:stream => stream, :lane => lane).each do |card|  
          .card.span1
            %p="##{card[:id]}"
            %p=card[:Owner]
            %p=card[:Subject]


    