%h5=caption
.row.taskboard-lanes
  %div{class: "#{span} taskboard-label #{column_class}"}
  - lanes.each do |lane|
    %div{class: "#{span} taskboard-label-lane #{column_class}"}
      %h6=lane
- streams.each do |stream|
  - reset_column_class
  %div{class: "row taskboard-streams #{row_class}"}
    %div{class: "#{span} taskboard-label-stream #{column_class}"}
      %h6=stream[:Subject]
    - lanes.each do |lane|
      %div{class: "#{span} #{column_class}"}
        - cards(:stream => stream, :lane => lane).each do |card|  
          .card.span1
            %p="##{card[:id]}"
            %p=card[:Owner]
            %p=card[:Subject]


    