%h5=caption
%table.table.table-striped.table-bordered.table-condensed.span12
  %tr
    %th{class: "#{span}"}
    - lanes.each do |lane|
      %th{class: "#{span}"}=lane.capitalize
  - streams.each do |stream|
    %tr
      %th
        %p="##{stream[:id]}"
        %p=stream[:Subject]
      - lanes.each do |lane|
        %td{data:{bind: "boxext :{ name :'box'}"}}
          - stream_cards(:stream => stream, :lane => lane).each do |card|  
            .card-border{draggable: "true", ticketId: "#{card[:id]}", data: {target: "#comment_modal", toggle: "modal", bind: "click : handleClick , cardext :{ name :'#{card[:id]}'}"}}
              .card{class: card[:age_class]}
                %p="##{card[:id]}"
                %p=card[:Owner]
                -# %p=card[:LastUpdated]
                %p
                  %span.card-subject(title="#{card[:Subject]}")=card[:short_subject]
  %tr
    %th="Miscellaneous Tasks"
    - lanes.each do |lane|
      %td{data:{bind: "boxext :{ name :'box'}"}}
        - misc_cards(:lane => lane).each do |card|  
          .card-border{draggable: "true", ticketId: "#{card[:id]}", data: {target: "#comment_modal", toggle: "modal", bind: "click : handleClick , cardext :{ name :'#{card[:id]}'}"}}
            .card{class: card[:age_class]}
              %p="##{card[:id]}"
              %p=card[:Owner]
              -# %p=card[:LastUpdated]
              %p
                %span.card-subject(title="#{card[:Subject]}")=card[:short_subject]

#comment_modal.modal.hide.fade
  .modal-header
    %button.close{type: "button", data:{dismiss: "modal"}} x
    %h3 Some heading
  .modal-body
    %p Some thing about the ticket
    %p comments
  .modal-footer
    %button.btn.btn-primary{data: {dismiss: "modal"}} Close

    